src/test/resources/test-mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:cloudhub="http://www.mulesoft.org/schema/mule/cloudhub" xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/cloudhub http://www.mulesoft.org/schema/mule/cloudhub/current/mule-cloudhub.xsd">

    <configuration-properties file="cloudhub.properties"/>

    <cloudhub:config name="config" >
        <cloudhub:connection username="${user}" password="${password}" environment="${environment}" />
    </cloudhub:config>

    <cloudhub:config name="config-invalid" >
        <cloudhub:connection username="${user}" password="invalid-password" environment="5527eaf6e4b001dbac499559" />
    </cloudhub:config>

    <flow name="domains-resolver">
        <cloudhub:get-application config-ref="config" domain="#[attributes.queryParams.domain]"/>
    </flow>

</mule>